<h1>Artists</h1>

<section class="list">
	<% artists_sorted(@artists).each do |artist| %>
	<article id="artist">
		<h2><%= link_to artist.name, a_show_path(:name => artist.name) %></h2>
		<h5><%= artist.instrument %></h5>

		<section class="text">
			<% if !artist.picture.empty? %>
				<a href="<%= artist.picture %>"><img src="<%= artist.picture %>" alt="" class="s_img" /></a>
			<% end %>
			<p>
				<%= truncate(strip_tags(artist.bio), :length=>290) %>
			</p>
		</section>

		<a href="<%= a_show_path(:name => artist.name) %>" class="button">Read More</a>

	</article>
	<% end %>
</section>



