<h1>Artists</h1>

<section class="list">
	<% @artists.each do |artist| %>
	<article id="artist">
		<h2><%= artist.name %></h2>
		<h5><%= artist.instrument %></h5>
		<% if !artist.picture.empty? %>
			<a href="<%= artist.picture %>"><img src="<%= artist.picture %>" alt="" class="s_img" /></a>
		<% end %>
		<section class="text">
			<p>
				<% text = artist.bio.gsub(/\n/, ' ').html_safe %>
				<%= truncate(text, length: 290) %>
			</p>
		</section>

		<a href="<%= a_show_path(:name => artist.name) %>" class="button">Read More</a>

	</article>
	<% end %>
</section>



