<article id="artist">
	<h2><%= @artist.name %></h2>
	<h4><%= @artist.instrument %></h4>
	<% if !@artist.picture.empty? %>
		<a href="<%= @artist.picture %>" class="b_img"><img src="<%= @artist.picture %>" alt="" class="b_img" /></a>
	<% end %>
	<% if future_programs(@artist.programs).count > 0 %>
		<p></p>
		<h5>Upcoming Performances:</h5>
		<h4><%= performance_list(@artist).html_safe %></h4>
	<% end %>
	<section class="text">
		<p>
			<%= @artist.bio.gsub(/\n/, '</p><p>').html_safe %>
		</p>
	</section>
</article>

<stron><%= link_to "Back to Artists", artists_path %></strong>