
    <p></p>
    <!-- <div class="field">
      <%= f.label :date %><br />
      <%= f.date_select :date %>
    </div> -->
    <div class="field">
      <%= f.label :time %><br />
     <%= f.text_field :time %>
    </div>
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field :price %>
    </div>
    <div class="field">
      <%= f.label :ticket_website %><br />
      <%= f.text_field :ticket_website %>
    </div>

  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Concert" %>
    <p></p>
