<h1>The Programs and Concerts</h1>

<p></p>
<section class="list">
<% @programs.each do |program| %>

<article id="program">
  <h2><%= program.title %></h2>

  <p></p>
  <h5>Performances:</h5>
  <% program.concerts.each do |concert| %>
      <h4>Date: <%= concert.date %></h4>
      <h4>Time: <%= concert.time %></h4>
      <h4>Location: <%= concert.location %></h4>
      <% if !concert.price.nil? %>
        <h4>Price: $<%= concert.price %></h4>
      <% end %>
      <% if !concert.ticket_website.empty? %>
        <a href="<%=concert.ticket_website %>" class="button">Buy Tickets</a>
      <% end %>
      <p></p>
  <% end %>

  <section class="text">
    <p>
      <%= h(program.description).gsub(/\n/, '</p><p>').html_safe %>
    </p>
  </section>
  <% if !program.website.empty? %>
    <a href="<%=program.website %>" class="button">See More</a>
  <% end %>
  <p></p>
  <a href="<%= p_show_path(:title => program.title) %>" class="button">Read More</a>
  <p></p>
</article>
<% end %>
</section>

