<h1>Concerts</h1>

<section class="list">
  <% @programs.each do |program| %>
  <article id="program">
    <h2><%= program.title %></h2>
    <h4><%= artist_list(program) %></h4>
    <p></p>
    <section class="concert-box">
      <% program.concerts.each do |concert| %>
        <div>  
          <h5>Date:</h5><h6><%= concert.date.strftime('%A %B %d, %Y') %></h6>
          <h5>Time:</h5><h6><%= concert.time %></h6>
          <h5>Location:</h5><h6><%= concert.location %></h6>
        </div>
      <% end %>
    </section>
    <section class="text">
      <p>
        <% text = h(program.description).gsub(/\n/, '<p>').html_safe %>
        <%= truncate(text, length: 200) %>
      </p>
    </section>

    <a href="<%= p_show_path(:title => program.title) %>" class="button">Read More</a>

  </article>
  <% end %>
</section>

