<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @program.title %>
</p>

<p>
  <b>Description:</b>
  <%= @program.description %>
</p>

<p>
  <b>Website:</b>
  <%= @program.website %>
</p>

<h5>Performances:</h5>

<% @program.concerts.each do |concert| %>

<p>
  <b>Program:</b>
  <%= concert.program_id %>
</p>

<p>
  <b>Date:</b>
  <%= concert.date %>
</p>

<p>
  <b>Time:</b>
  <%= concert.time %>
</p>

<p>
  <b>Location:</b>
  <%= concert.location %>
</p>

<p>
  <b>Price:</b>
  <%= concert.price %>
</p>

<p>
  <b>Ticket website:</b>
  <%= concert.ticket_website %>
</p>

<p></p>

<% end %>

