<h1>Listing Concert Performances</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Price</th>
    <th>Ticket website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concerts.each do |concert| %>
  <tr>
    <td><%= concert.program_id %></td>
    <td><%= concert.date %></td>
    <td><%= concert.time %></td>
    <td><%= concert.location %></td>
    <td><%= concert.price %></td>
    <td><%= concert.ticket_website %></td>
    <td><%= link_to 'Show', concert %></td>
    <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
    <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concert', new_concert_path %>
