<p id="notice"><%= notice %></p>

<p>
  <b>Program_id:</b>
  <%= @concert.program_id %>
</p>

<p>
  <b>Time:</b>
  <%= @concert.time %>
</p>

<p>
  <b>Date:</b>
  <%= @concert.date %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
