<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @concert.program_id %>
</p>

<p>
  <b>Date:</b>
  <%= @concert.date %>
</p>

<p>
  <b>Time:</b>
  <%= @concert.time %>
</p>

<p>
  <b>Location:</b>
  <%= @concert.location %>
</p>

<p>
  <b>Price:</b>
  <%= @concert.price %>
</p>

<p>
  <b>Ticket website:</b>
  <%= @concert.ticket_website %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
