<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Musical Waves</a></h1>
			</div>
			<div id="menu">
				<ul>
					<% if page == "Home" %>
						<li class="current_page_item"><%= link_to "Home", root_path %></li>
    					<li><%= link_to "Music", music_path %></li>
					<% elsif page == "Music" %>
						<li><%= link_to "Home", root_path %></li>
    					<li class="current_page_item"><%= link_to "Music", music_path %></li>
					<% else %>
						<li><%= link_to "Home", root_path %></li>
    					<li><%= link_to "Music", music_path %></li>
    				<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
