<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

	<header>

		<%= render 'layouts/header' %>

	</header>


	<section id="container">
		
		<aside>			
			
			<%= render 'layouts/sidebar' %>

		</aside>
			
		<section class="content">
			
			<%= yield %>

		</section>

	</section>


	<footer>

		<%= render 'layouts/footer' %>
				
	</footer>

</body>
</html>
