<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

	<section id="pre-header"></section>

	<header>

		<%= render 'layouts/header' %>

	</header>


	<section id="container">
					
		<section class="content">
			
			<%= yield %>

		</section>

		<aside>			
			
			<%= render 'layouts/sidebar' %>

		</aside>

	</section>


	<footer class="copyright">

		<%= render 'layouts/footer' %>
				
	</footer>

</body>
</html>
